.owner-avatar {
  max-width: 100px;
  margin: auto;
}

.repo-title {
  text-transform: capitalize;
  margin-bottom: 6px;
}

.property-wrapper {
  max-width: 290px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
}

.property-label {
  display: block;
  text-align: center;
  color: #777;
  font-size: 13px;
  font-weight: 400;
}

.property-icon {
  display: block;
  color: #000;
}

.property-value {
  display: block;
  text-align: center;
  color: #000;
  font-size: 23px;
  font-weight: bold;
}
